.portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h1 {
    font-size: 50px;
}

.portfolio ul {
    padding: 0px;
    list-style: none;
    display: flex;

}



.portfolio .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio .container .item {
    width: 25%;
    border-radius: 20px;
    border: 1px solid var(--main-theme-color);
    margin: 10px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
}


.portfolio .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;


}

.portfolio .container .item:hover {
    background-color: var(--main-theme-color);

}

.portfolio .container .item:hover img {
    z-index: 0;
    opacity: 0;

}

.portfolio .container .item h3 {
    position: absolute;
    font-size: 24px;
}

@media (max-width: 800px) {

    .app .sections .portfolio {
        height: 100%;
    }

    .portfolio h1 {
        font-size: 40px;
    }


    .portfolio ul {
        margin: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .container {
        width: 100%;
        flex-wrap: wrap;
    }

    .portfolio .container .item {
        width: 100%;

    }

    .portfolio .container .item h3 {
        font-size: 25px;

    }
}