html {
    --main-theme-color: rgb(33, 0, 98);
    --secondary-theme-color: gainsboro;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    overflow-x: hidden;

}