.works {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.works .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
}

.works .arrow.left {
    left: 100px;
    transform: rotateY(180deg);
}

.works .arrow.right {
    right: 100px;

}

.works .slider {
    height: 60%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
}

.works .slider .container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works .slider .container .item {
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.works .slider .container .item .left {
    flex: 4;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.works .slider .container .item .left .leftContainer {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.works .slider .container .item .left .imgContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(245, 179, 155);
    display: flex;
    align-items: center;
    justify-content: center;

}

.works .slider .container .item .left .imgContainer img {

    width: 40px;
}

.works .slider .container .item .left h2 {
    font-size: 22px;
    margin: 2px 0px;
    margin-bottom: 5px;
}

.works .slider .container .item .left p {
    font-size: 11px;
    text-align: justify;
    margin: 4px 2px;
}

.works .slider .container .item .left span {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.works .slider .container .item .left .imgContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(245, 179, 155);
    display: flex;
    align-items: center;
    justify-content: center;

}

.works .slider .container .item .left .imgContainer img {

    width: 40px;
}

.works .slider .container .item .right {
    flex: 8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.works .slider .container .item .right img {
    width: 400px;
    transform: rotate(-10deg);
}


@media (max-width: 900px) {
    .works {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        overflow: hidden;
    }

    .works .arrow.left {
        display: none;
    }

    .works .arrow.right {
        display: none;

    }

    .works .slider {
        height: 100%;
        flex-direction: column;
        justify-content: center;

    }

    .works .slider .container {
        flex-direction: column;
        margin: 12px 0px;
        max-height: 32%;
        overflow: hidden;

    }

    .works .slider .container .item {
        width: 90%;
        height: 100%;
        padding-top: 5px;
        padding-bottom: 12px;
        padding-left: 5px;

    }

    .works .slider .container .item .left {
        flex: 6;
        height: 100%;

    }

    .works .slider .container .item .left .imgContainer {
        width: 35px;
        height: 35px;
    }



    .works .slider .container .item .left .imgContainer img {
        width: 25px;
        height: 25px;
    }

    .works .slider .container .item .left .leftContainer {
        width: 95%;
        height: 100%;

    }

    .works .slider .container .item .left h2 {
        font-size: 10px;
        margin: 2px 0px;

    }

    .works .slider .container .item .left p {
        font-size: 8px;
        text-align: justify;
        margin: 2px px;
    }

    .works .slider .container .item .left span {
        font-size: 10px;
        text-align: center;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 2px;
    }

    .works .slider .container .item .right {
        flex: 6;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .works .slider .container .item .right img {
        width: 120px;
        max-height: 200px;
        transform: rotate(-10deg);
    }
}