.intro {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro .left {
    flex: 0.5;
    overflow: hidden;
}

.intro .left .img-container {
    background-color: crimson;
    border-radius: 50%;
    width: 110vh;
    height: 110vh;

    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
}

.intro .left .img-container img {
    height: 90%;
    margin-bottom: -10%;
    margin-left: -05%;

}

.intro .right {
    flex: 0.5;

}

.intro .right .wrapper {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .right .wrapper h1 {
    font-size: 55px;
    margin: 10px 0px;
}

.intro .right .wrapper h2 {
    font-size: 35px;
    margin: 0px;
}

.intro .right .wrapper h3 {
    font-size: 25px;
    margin: 0px;
}

.intro .right a {
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.intro .right img {
    width: 40px;
    animation: arrowBlink 3s infinite;
}

.intro .right .wrapper span {
    color: crimson;
    font-size: 30px;

}

@keyframes arrowBlink {
    100% {
        opacity: 0;
    }

}

@media (max-width: 800px) {
    .intro {
        flex-direction: column;

    }

    .intro>* {
        width: 100%;
        align-items: center;
    }

    .intro .right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro .right .wrapper {

        width: 100%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0px;
        align-items: left;

        margin: auto;
    }

    .intro .left .img-container {
        align-items: flex-start;

    }

    .intro .left .img-container img {
        height: 60%;
        margin-left: 20%;
        margin-top: 8%;
    }



    .intro .right .wrapper {
        top: 70%;
    }

    .intro .right .wrapper h1 {
        font-size: 40px;

    }

    .intro .right .wrapper h2 {
        font-size: 25px;
    }

    .intro .right .wrapper h3 {
        font-size: 20px;
    }

    .intro .right .wrapper span {
        font-size: 21px;
    }

    .intro .right a {
        position: absolute;
        bottom: 10%;
        left: 45%;
    }


}