.app {
    height: 100dvh;
}

.app .sections {
    width: 100%;
    height: calc(100dvh - 70px);
    overflow-x: hidden;


    position: relative;
    top: 70px;

    scroll-behavior: smooth;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;

}


.app .sections>* {

    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}